<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/page.css">
	</head>
	<body>
		<div class="content">
			<h1>{{.Title}}</h1>
			by igm
			<ul>
				{{ range first 10 .Data.Pages }}
				<li>
				<a href="{{.Permalink}}">{{.Title}}</a> ({{dateFormat "02. Jan 2006" .Date}})
				</li>
				{{.Summary}}
				{{ end }}
			</ul>
		</div>
	</body>
	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-33041497-1', 'auto');
        ga('send', 'pageview');
	</script>
</html>
